$primary-color: #2c3e50;
$secondary-color: #e67e22;
$bg-light: #ecf0f1;
$bg-dark: #7f8c8d;

@import './reset.scss';
@import './layout.scss';

#header{
    /* height: 50px; */
    width: 100%;
    position: relative;
    background-color: $primary-color;
    justify-content: space-between;
    padding: 0;
    .logo{
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        line-height: 50px;
        font-weight: 800;
        display: inline-block;
        margin-left: 5px;
        letter-spacing: 2px;
        float: left;
        color: $secondary-color;
    }
    a{
        text-align: right;
    }
    .fa{
        color: #fff;
        font-size: 40px !important;
        line-height: 50px !important;
        align-self: center;
        &:hover{
            color: $secondary-color;
        }
    }
}
#main_content {
    background-color: $bg-dark;
    position: relative;

    .infoscreen {
        background-color: $bg-light;
        border-radius: 20px;
        overflow: hidden;
        padding: 15px;
        font-size: 16px;
        position: relative;
        
        h1{
            color: var(--secondary-color);
            word-break: break-word;
            margin-bottom: 20px;
        }

        h3 {
            margin-bottom: 10px;
            color: #777;
        }

        p{
            font-size: 14px;
            word-break: break-word;
            margin-bottom: 30px;
        }

        input {
            width: 100%;
            border: none;
            font-size: 20px;
            padding: 10px;
            margin-bottom: 20px;
        
            @media screen and (min-width: 400px){
                    width: 100%;
                    border: none;
                    font-size: 20px;
                    padding: 10px;
                    margin-bottom: 20px;
            }
        }
        table{
            width: 100%;
            border-collapse: collapse;
            tr{
                &.active{
                    background-color: $primary-color;
                }
                th, td{
                    vertical-align: middle;
                    border-top: 1px solid #dddddd;
                    border-bottom: 1px solid #dddddd;
                    text-align: left;
                    padding: 12px 8px;
                }
                input[type=radio]:checked+label{
                    color: $secondary-color;
                }
            }
        }
        .account-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & > div {
                width: 100%;
                display: grid;
                grid-template-columns: 150px 1fr;
                margin-bottom: 10px;
                gap: 5px;

                .label {
                    text-align: right;
                }

                @media screen and (min-width: 480px){
                        grid-template-columns: 200px 1fr;
                        gap: 5px;
                }
            }
        }



        
        .welcome{
            /* font-size: 35px;
            font-weight: 700; */
            color: $secondary-color;
            margin-bottom: 20px;
        }
        .buttons{
            display: flex;
            flex-direction: column;
            align-items: center;

            button{
                width: fit-content;
                padding: 10px 20px;
                margin: 10px;
                font-size: 16px;
                line-height: 20px;
                font-weight: 700;
                color: #fff;
                background-color: $secondary-color;
                border: none;
                border-radius: 20px;
                cursor: pointer;
                
                &:hover {
                    background-color: $primary-color;
                }
    
            }
            
            @media screen and (min-width: 480px){
                flex-direction: row;
                justify-content: flex-end;
            }
        }

        form {
            #iban{
                color: #888;
                margin-bottom: 10px;
                word-break: break-word;
            }
        }

        .remove-money {
            bottom: 90px;
        }

        #delete {
            bottom: 20px;
        }

        
        @media screen and (min-width: 480px){
            input{
                grid-area: check;
                align-self: center;
                justify-self: start;
            }
            
        }
    }
}
#message{
    position: absolute;
    display: grid;
    grid-template-columns: 15px 1fr 15px ;
    top: 0;
    background-color: sandybrown;
    width: 100%;

    
    .message {
        width: 100%;
        grid-column: 2 / 3;
        word-break: break-word;
        color: crimson;
        font-size: 16px;
        line-height: 20px;
    }

    @media (min-width: 1200px){
        grid-template-columns: 1fr 1140px 1fr ;
    }
}
.login {
    position:absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    color: $secondary-color;
    &:hover{
        color: #fff;
    }
}